
.btn {
    padding: 0.5rem;
    margin-top: 2vh;
    background-color: #575353;
    width: 20vw;
    color: #ffffff;
    opacity: 1;
  
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .btn:hover{
      opacity: 0.6;
  }
  
  .btn:active {
    background-color: #a9a9a9;
  }