.cont_request {
  background-color: #c6c2c2;
  width: 70%;
  border-radius: 0.4rem;
  margin-top: 1.6rem;
}

.form_request {
  /*padding: 0.6rem;*/
  padding-left: 0.6rem;
  padding-top: 0.6rem;
  display: flex;
  gap: 8px;
}

.itens-pedido-request {
  display: flex;
  flex-direction: column;
}

.itens-pedido-request h3 {
  background-color: #575353;
  color: #c6c2c2;
  padding: 0.8rem;
  text-align: center;
}

table{
  width: 90%;
  background-color: rgba(97, 153, 155, 0.514);
  padding: 06px;
  margin-left: 10px;
  margin-bottom: 14px;
}

table thead tr{
  background-color: #575353;
  color:white
}

.options-table{
  cursor: pointer;
}