.content-secretariat {
  background-color: #c6c2c2;
  width: 70%;
  border-radius: 0.4rem;
  margin-top: 1.6rem;
  max-height: 25vw;
}
.formulario {
  /*padding: 0.6rem;*/
  padding-left: 0.6rem;
  padding-top: 0.6rem;
  display: flex;
  gap: 8px;
  justify-content: center;
}


.button {
  display: flex;
  justify-content: space-around;
  padding-right: 0.8rem;
}
